body, html {
  height: 100%;
  margin:0;
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}

button {
  padding: 4px 10px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cover-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: URL("https://www.bungie.net/pubassets/pkgs/154/154053/Section0_Hero.jpg");
}
.cover-caption {
  top: 20%;
  background-color: rgba(252, 174, 235, 0.3);
}
@media (max-width: 570px) {
  h1 {
  font-size: 1.8rem;
     }
}